#! /usr/bin/perl
# simplemon 1.3
# script to monitor and alert on low diskspace situations & running processes
# Copyright 2003-07-05, anders@fix.no
#
# THIS SOFTWARE IS PROVIDED BY ANDERS NORDBY ``AS IS'' AND ANY EXPRESS OR
# IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
# EVENT SHALL ANDERS NORDBY BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
# SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# -- start configuration --

# filesystems
# keys: dirname values: disk free threshold
%myfilesystems = (
	"/",	6000,
	"/home", 966000,
);
# processes
# keys: process name regexp
# value pairs: type => value
%myprocesses = (
	"thttpd" => {
		uid => 65534,
		gid => 65534,
	},
);
# to check process arguments as well, set to 1:
$sloppyproc = 0;
# how long to wait between checks, in seconds:
$retryinterval = 300;
# how long to skip a test if a warning has been sent:
$skiptime = 3600;
# recipients of alert mail:
$recipients = "foobar\@yourdomain.com barbaz\@happyhip.net";
# run as daemon or not:
$daemon = 1;
# print diagnostics to stdout while running:
$debug = 1;
# mail servers to use:
$mailservers = ['mx1.mydomain.net', 'mx3.mydomain.net'];

# -- end configuration --
